<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.splevo.ui"
            class="org.splevo.ui.vpexplorer.explorer.VPExplorer"
            icon="icons/splevo-project.gif"
            id="org.splevo.ui.variationpointexplorer"
            name="Variation Point Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="org.splevo.ui.variationpointexplorer">
         <includes>
            <actionExtension
                  pattern="org.splevo.vpm.variability.*">
            </actionExtension>
            <actionExtension
                  pattern="org.splevo.vpm.software.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="org.splevo.ui.variationpointexplorer">
         <includes>
            <contentExtension
                  pattern="org.splevo.ui.variationpointexplorer.VPExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="org.splevo.vpm.software.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.splevo.ui.variationpointexplorer"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.splevo.ui.vpexplorer.providers.VPExplorerContentProvider"
            id="org.splevo.ui.variationpointexplorer.VPExplorerContent"
            labelProvider="org.splevo.ui.vpexplorer.providers.VPExplorerLabelProvider"
            name="VP Explorer Content">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.splevo.vpm.variability.VariationPoint">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.variability.Variant">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.software.SourceLocation">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.splevo.vpm.variability.Variant">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.software.SourceLocation">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>

</plugin>
