<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="programstructureprovider" name="Program Structure Provider" schema="schema/programstructureprovider.exsd"/>
   <extension
         id="org.splevo.cpm.analyzer.programstructure"
         name="Program Structure Analyzer"
         point="org.splevo.vpm.analyzer.analyzer">
      <analyzer
            analyzer.class="org.splevo.vpm.analyzer.programstructure.ProgramStructureVPMAnalyzer">
      </analyzer>
   </extension>

</plugin>
