<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="contentprovider" name="Semantic Content Provider" schema="schema/contentprovider.exsd"/>
   <extension
         id="id1"
         point="org.splevo.vpm.analyzer.analyzer">
      <analyzer
            analyzer.class="org.splevo.vpm.analyzer.semantic.SemanticVPMAnalyzer">
      </analyzer>
   </extension>


</plugin>
