<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="analyzer" name="SPLevo VPM Refinement Analyzer" schema="schema/org_splevo_vpm_refinement_analyzer.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://refinement/1.0"
            class="refinement.RefinementPackage"
            genModel="model/refinement.genmodel"/>
   </extension>

</plugin>
