<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.splevo.vpm.analyzer.semantic.contentprovider">
      <contentprovider
            contentprovider.class="org.splevo.jamopp.vpm.analyzer.semantic.JaMoPPSemanticContentProvider">
      </contentprovider>
   </extension>

</plugin>
