<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.splevo.vpm.refinement.analyzer.vplocation"
         name="VP"
         point="org.splevo.vpm.refinement.analyzer">
      <analyzer
            analyzer.class="org.splevo.vpm.refinement.simplelocation.VPLocationAnalyzer">
      </analyzer>
   </extension>

</plugin>
