<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.splevo.modisco.java.diffing.java2kdmdiff.presentation.Java2KDMDiffModelWizardID"
            name="%_UI_Java2KDMDiffModelWizard_label"
            class="org.splevo.modisco.java.diffing.java2kdmdiff.presentation.Java2KDMDiffModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Java2KDMDiffModelFile.gif">
         <description>%_UI_Java2KDMDiffModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.splevo.modisco.java.diffing.java2kdmdiff.presentation.Java2KDMDiffEditorID"
            name="%_UI_Java2KDMDiffEditor_label"
            icon="icons/full/obj16/Java2KDMDiffModelFile.gif"
            extensions="Java2KDMDiff"
            class="org.splevo.modisco.java.diffing.java2kdmdiff.presentation.Java2KDMDiffEditor"
            contributorClass="org.splevo.modisco.java.diffing.java2kdmdiff.presentation.Java2KDMDiffActionBarContributor">
      </editor>
   </extension>

</plugin>
