<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.splevo.refactoring.refactoring" name="Variability Refactoring Implementation" schema="schema/org.splevo.refactoring.refactoring.exsd"/>
   <extension-point id="org.splevo.refactoring.resourceprocessor" name="Variability Refactoring Resource Preparators" schema="schema/org.splevo.refactoring.resourceprocessor.exsd"/>


</plugin>
