<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jamoppdiff -->
      <package
            uri="http://www.eclipse.org/emf/compare/diff/jamoppdiff/1.0"
            class="org.splevo.jamopp.diffing.jamoppdiff.JaMoPPDiffPackage"
            genModel="model/jamoppdiff.genmodel"/>
   </extension>

</plugin>
