<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>

   <extension
         id="org.splevo.ui.splevobuilder"
         name="SPLevo Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.splevo.ui.nature.SPLevoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.splevo.ui.splevonature"
         name="SPLevo Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.splevo.ui.nature.SPLevoNature">
         </run>
      </runtime>
      <builder
            id="org.splevo.ui.splevobuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/splevo.gif"
            id="org.splevo.ui.splevonature.icon"
            natureId="org.splevo.ui.splevonature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.splevo.ui.editors.SPLevoProjectEditor"
            default="true"
            extensions="splevoproject"
            icon="icons/kopl_circle_only.png"
            id="org.splevo.ui.editors.SPLevoProjectEditor"
            name="SPLevo Dashboard">
      </editor>
      <editor
            class="org.splevo.ui.refinementbrowser.VPMRefinementBrowser"
            default="false"
            icon="icons/refinement-browser.gif"
            id="org.splevo.ui.editor.VPMRefinementEditor"
            name="VPM Refinement Browser">
      </editor>
      <editor
            class="org.splevo.ui.editors.UnifiedDiffEditor"
            default="false"
            icon="icons/unifieddiff-editor.gif"
            id="org.splevo.ui.editors.unifieddiffeditor"
            name="Unified Diff">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.splevo.ui"
            class="org.splevo.ui.views.vpmgraph.VPMGraphView"
            icon="icons/splevo-project.gif"
            id="org.splevo.ui.viewer.vpmgraph.VPMGraphViewer"
            name="VPM Graph Viewer">
      </view>
      <category
            id="org.splevo.ui"
            name="SPLevo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.nature.AddSPLevoNatureHandler"
            id="org.splevo.ui.nature.addsplevonature"
            name="Make SPLevo Project">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.CleanProjectHandler"
            id="org.splevo.ui.menu.default"
            name="SPLevo Menu Default">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.CleanProjectHandler"
            id="cleanProjectCommand"
            name="Clean Project">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.OpenUnifiedDiffSourceHandler"
            id="org.splevo.ui.commands.openunifieddiffsourcelocation"
            name="Open Source Location">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.OpenSourceLocationHandler"
            id="org.splevo.ui.commands.opensourcelocation"
            name="Open Source Locations">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.OpenUnifiedDiffHandler"
            id="org.splevo.ui.commands.opensourcelocationdiff"
            name="Open Unified Difference">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.CopyContainingFilenameHandler"
            id="org.splevo.ui.vp.copyfilename"
            name="Copy Containing Filename(s)">
      </command>
      <command
            defaultHandler="org.splevo.ui.refinementbrowser.ArgoUMLVariantScanHandler"
            id="org.splevo.ui.commands.argouml.variantscan"
            name="ArgoUML Variant Scan">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.OpenDiffModelHandler"
            id="org.splevo.ui.opendiffmodel"
            name="Open Diff Model">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.vpm.CombineGroupsHandler"
            id="org.splevo.ui.commands.vpm.combineGroups"
            name="Combine Groups">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.vpm.MergeVariationPointsHandler"
            id="org.splevo.ui.commands.vpm.mergeVPs"
            name="Merge VariationPoints">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.splevo.ui.splevo"
               label="SPLevo">
            <command
                  commandId="org.splevo.ui.menu.default"
                  icon="icons/kopl_circle_only.png"
                  id="org.splevo.ui.menu"
                  label="SPLevo Menu"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:org.splevo.ui.menu">
         <command
               commandId="cleanProjectCommand"
               icon="icons/bin.png"
               id="org.splevo.ui.menu.cleanProject"
               label="Clean Project"
               style="push"
               tooltip="Deletes the /models and /logs directories and all SPLevo settings except of the Project Selection, Project Infos, Extractor Selection and Diffing Package Filter Rules.">
         </command>
         <command
               commandId="org.splevo.ui.opendiffmodel"
               disabledIcon="icons/open-diff-model-disabled.gif"
               icon="icons/open-diff-model.gif"
               label="Open Diff Model"
               style="push"
               tooltip="Open the difference model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.splevo.ui.editors.unifieddiffeditor.EditorContext?before=additions">
         <command
               commandId="org.splevo.ui.commands.openunifieddiffsourcelocation"
               icon="icons/jcu_obj.gif"
               label="Open Source Location"
               style="push"
               tooltip="Open the source location of the highlighted line.">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <separator
               name="Source Location Separator">
         </separator>
         <command
               commandId="org.splevo.ui.commands.opensourcelocation"
               icon="icons/jcu_obj.gif"
               label="Open Source Locations"
               style="push"
               tooltip="Open the source locations of the variants.">
            <visibleWhen
                  checkEnabled="true">
               <iterate
                     ifEmpty="false">
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.Variant">
                     </instanceof>
                     <instanceof
                           value="org.splevo.ui.vpexplorer.providers.VPExplorerContentProvider$VPExplorerContentFileWithChildReference">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.commands.opensourcelocationdiff"
               icon="icons/unifieddiff-editor.gif"
               label="Open Unified Difference"
               style="push"
               tooltip="Open the unified difference of the variants.">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.Variant">
                     </instanceof>
                     <instanceof
                           value="org.splevo.ui.vpexplorer.providers.VPExplorerContentProvider$VPExplorerContentFileWithChildReference">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.vp.copyfilename"
               icon="icons/copy.gif"
               label="Copy Containing Filename(s)"
               style="push"
               tooltip="Open the name of the file containing the variation point.">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.Variant">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.nature.addsplevonature"
               icon="icons/kopl_circle_only.png"
               label="Make SPLevo Project"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.commands.vpm.combineGroups"
               icon="icons/arrow_combine.png"
               label="Combine Groups"
               style="push"
               tooltip="Combine the selected groups in a single one">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof></or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.commands.vpm.mergeVPs"
               icon="icons/arrow_join.png"
               label="Merge Variation Points"
               style="push"
               tooltip="Merge the selected variation points in a single one">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- FIXME: we might not need the id -->
   <extension point="org.eclipse.core.resources.markers" id="org.splevo.ui.markers.codelocationmarker.variant"
  name="Code Location Marker">
	<super type="org.eclipse.core.resources.textmarker"/>
	<super type="org.eclipse.core.resources.marker"/>
	<persistent value="true"/>
	</extension>
   <extension
         id="org.splevo.ui.markers.unifieddiff"
         name="Unified Difference Marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.splevo.ui.sourceconnection.jdt.VariantLinkQuickFixGenerator"
            markerType="org.splevo.ui.markers.codelocationmarker.variant">
      </markerResolutionGenerator>
   </extension>
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="annotationspecification" name="SPLevoAnnotation">
	<specification annotationType="org.splevo.ui.annotations.variant.multiple"
			label="Variation Point Alternative Variant"
			icon="icons/variant-multiple.png"
			verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            colorPreferenceValue="196,211,219"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
			</specification>
	<specification annotationType="org.splevo.ui.annotations.variant.single"
			label="Variation Point Alternative Variant"
			icon="icons/variant-single.png"
			verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            colorPreferenceValue="196,211,219"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
			</specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.leadingLight"
       colorPreferenceKey="leadingLightAnnotation.color"
       colorPreferenceValue="200,242,200"
       contributesToHeader="false"
       highlightPreferenceKey="leadingLightAnnotation.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Leading Light"
       overviewRulerPreferenceKey="leadingLightAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="leadingLightAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="leadingLightAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.leadingDark"
       colorPreferenceKey="leadingDarkAnnotation.color"
       colorPreferenceValue="146,228,146"
       contributesToHeader="false"
       highlightPreferenceKey="leadingDarkAnnotation.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Leading Dark"
       overviewRulerPreferenceKey="leadingDarkAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="leadingDarkAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="leadingDarkAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration1Light"
       colorPreferenceKey="integration1LightAnnotation.color"
       colorPreferenceValue="255,195,192"
       contributesToHeader="false"
       highlightPreferenceKey="integration1Light.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 1 Light"
       overviewRulerPreferenceKey="integration1LightAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration1LightAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration1LightAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration1Dark"
       colorPreferenceKey="integration1DarkAnnotation.color"
       colorPreferenceValue="255,135,129"
       contributesToHeader="false"
       highlightPreferenceKey="integration1Dark.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 1 Dark"
       overviewRulerPreferenceKey="integration1DarkAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration1DarkAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration1DarkAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration2Light"
       colorPreferenceKey="integration2LightAnnotation.color"
       colorPreferenceValue="255,224,182"
       contributesToHeader="false"
       highlightPreferenceKey="integration2Light.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 2 Light"
       overviewRulerPreferenceKey="integration2LightAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration2LightAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration2LightAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration2Dark"
       colorPreferenceKey="integration2DarkAnnotation.color"
       colorPreferenceValue="255,194,108"
       contributesToHeader="false"
       highlightPreferenceKey="integration2Dark.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 2 Dark"
       overviewRulerPreferenceKey="integration2DarkAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration2DarkAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration2DarkAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration3Light"
       colorPreferenceKey="integration3LightAnnotation.color"
       colorPreferenceValue="254,254,213"
       contributesToHeader="false"
       highlightPreferenceKey="integration3Light.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 3 Light"
       overviewRulerPreferenceKey="integration3LightAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration3LightAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration3LightAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.integration3Dark"
       colorPreferenceKey="integration3DarkAnnotation.color"
       colorPreferenceValue="253,253,171"
       contributesToHeader="false"
       highlightPreferenceKey="integration3Dark.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Integration 3 Dark"
       overviewRulerPreferenceKey="integration3DarkAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="integration3DarkAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="integration3DarkAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.mixedLight"
       colorPreferenceKey="mixedLightAnnotation.color"
       colorPreferenceValue="231,231,226"
       contributesToHeader="false"
       highlightPreferenceKey="mixedLight.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Mixed Light"
       overviewRulerPreferenceKey="mixedLightAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="mixedLightAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="mixedLightAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
 <specification
       annotationType="org.splevo.ui.annotations.unifieddiff.mixedDark"
       colorPreferenceKey="mixedDarkAnnotation.color"
       colorPreferenceValue="207,207,196"
       contributesToHeader="false"
       highlightPreferenceKey="mixedDark.highlight"
       highlightPreferenceValue="true"
       includeOnPreferencePage="true"
       label="Mixed Dark"
       overviewRulerPreferenceKey="mixedDarkAnnotation.ruler"
       overviewRulerPreferenceValue="false"
       presentationLayer="3"
       textPreferenceKey="mixedDarkAnnotation.text"
       textPreferenceValue="true"
       textStylePreferenceValue="BOX"
       verticalRulerPreferenceKey="mixedDarkAnnotation.vruler"
       verticalRulerPreferenceValue="true">
 </specification>
	</extension>
	<extension point="org.eclipse.ui.editors.annotationTypes">
                <type markerSeverity="0"
                                        super="org.eclipse.ui.workbench.texteditor.info"
                                        name="org.splevo.ui.annotations.variant.multiple"
                                        markerType="org.splevo.ui.markers.codelocationmarker.variant"/>
                <type markerSeverity="0"
                                        super="org.eclipse.ui.workbench.texteditor.info"
                                        name="org.splevo.ui.annotations.variant.single"
                                        markerType="org.splevo.ui.markers.codelocationmarker.variant"/>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.leadingLight">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.leadingDark">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration1Light"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration1Dark"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration2Light"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration2Dark"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration3Light"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.integration3Dark"
                      super="org.splevo.ui.annotations.unifieddiff.integration">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.mixedLight">
                </type>
                <type
                      markerSeverity="0"
                      markerType="org.splevo.ui.markers.unifieddiff"
                      name="org.splevo.ui.annotations.unifieddiff.mixedDark">
                </type>
    </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.splevo.vpm.variability.VariationPoint"
          class="org.splevo.ui.views.vpproperties.VariationPointAdapterFactory">
       <adapter
             type="org.eclipse.ui.views.properties.IPropertySource">
       </adapter>
    </factory>
    <factory
          adaptableType="org.splevo.vpm.variability.VariationPointGroup"
          class="org.splevo.ui.views.vpproperties.VariationPointAdapterFactory">
       <adapter
             type="org.eclipse.ui.views.properties.IPropertySource">
       </adapter>
    </factory>
 </extension> 
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.splevo.ui.perspective.SPLevoPerspectiveFactory"
          icon="icons/kopl_circle_only.png"
          id="org.splevo.ui.perspective"
          name="SPLevo">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.splevo.ui.perspective">
       <view
                  id="org.eclipse.jdt.ui.PackageExplorer"
                  minimized="false"
                  ratio="0.3"
                  relationship="left"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  id="org.splevo.ui.viewer.vpmgraph.VPMGraphViewer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.ui.editorss"
                  visible="false">
            </view>
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  ratio="0.7"
                  relationship="bottom"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  id="org.eclipse.ui.views.PropertySheet"
                  minimized="false"
                  ratio="0.3"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
            <view
                  id="org.splevo.ui.vpexplorer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            <view
                  id="org.eclipse.ui.navigator.ProjectExplorer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.splevo.ui.wizards"
          name="SPLevo">
    </category>
 </extension>

</plugin>
