<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.2"?>
<plugin>

   <extension
         id="org.splevo.ui.splevobuilder"
         name="SPLevo Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.splevo.ui.nature.SPLevoBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.splevo.ui.splevonature"
         name="SPLevo Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.splevo.ui.nature.SPLevoNature">
         </run>
      </runtime>
      <builder
            id="org.splevo.ui.splevobuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/splevo.gif"
            id="org.splevo.ui.splevonature.icon"
            natureId="org.splevo.ui.splevonature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.splevo.ui.editors.SPLevoProjectEditor"
            default="true"
            extensions="splevoproject"
            icon="icons/kopl_circle_only.png"
            id="org.splevo.ui.editors.SPLevoProjectEditor"
            name="SPLevo Dashboard">
      </editor>
      <editor
            class="org.splevo.ui.refinementbrowser.VPMRefinementBrowser"
            default="false"
            icon="icons/refinement-browser.gif"
            id="org.splevo.ui.editor.VPMRefinementEditor"
            name="VPM Refinement Browser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.splevo.ui"
            class="org.splevo.ui.views.vpmgraph.VPMGraphView"
            icon="icons/splevo-project.gif"
            id="org.splevo.ui.viewer.vpmgraph.VPMGraphViewer"
            name="VPM Graph Viewer">
      </view>
      <category
            id="org.splevo.ui"
            name="SPLevo">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.nature.AddSPLevoNatureHandler"
            id="org.splevo.ui.nature.addsplevonature"
            name="Make SPLevo Project">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.CleanProjectHandler"
            id="org.splevo.ui.menu.default"
            name="SPLevo Menu Default">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.CleanProjectHandler"
            id="cleanProjectCommand"
            name="Clean Project">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.OpenSourceLocationHandler"
            id="org.splevo.ui.commands.opensourcelocation"
            name="Open Source Locations">
      </command>
      <command
            defaultHandler="org.splevo.ui.sourceconnection.handler.CopyContainingFilenameHandler"
            id="org.splevo.ui.vp.copyfilename"
            name="Copy Containing Filename(s)">
      </command>
      <command
            defaultHandler="org.splevo.ui.refinementbrowser.ArgoUMLVariantScanHandler"
            id="org.splevo.ui.commands.argouml.variantscan"
            name="ArgoUML Variant Scan">
      </command>
      <command
            defaultHandler="org.splevo.ui.handler.OpenDiffModelHandler"
            id="org.splevo.ui.opendiffmodel"
            name="Open Diff Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=project">
         <menu
               id="org.splevo.ui.menu.main"
               label="SPLevo"
               mnemonic="SPLevo">
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.splevo.ui.splevo"
               label="SPLevo">
            <command
                  commandId="org.splevo.ui.menu.default"
                  icon="icons/kopl_circle_only.png"
                  id="org.splevo.ui.menu"
                  label="SPLevo Menu"
                  style="pulldown">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:org.splevo.ui.menu">
         <command
               commandId="cleanProjectCommand"
               icon="icons/bin.png"
               id="org.splevo.ui.menu.cleanProject"
               label="Clean Project"
               style="push"
               tooltip="Deletes the /models and /logs directories and all SPLevo settings except of the Project Selection, Project Infos, Extractor Selection and Diffing Package Filter Rules.">
         </command>
         <command
               commandId="org.splevo.ui.opendiffmodel"
               disabledIcon="icons/open-diff-model-disabled.gif"
               icon="icons/open-diff-model.gif"
               label="Open Diff Model"
               style="push"
               tooltip="Open the difference model">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <separator
               name="Source Location Separator">
         </separator>
         <command
               commandId="org.splevo.ui.commands.opensourcelocation"
               icon="icons/jcu_obj.gif"
               label="Open Source Locations"
               style="push"
               tooltip="Open the source locations of the variants.">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.Variant">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.vp.copyfilename"
               icon="icons/copy.gif"
               label="Copy Containing Filename(s)"
               style="push"
               tooltip="Open the name of the file containing the variation point.">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.Variant">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.nature.addsplevonature"
               icon="icons/kopl_circle_only.png"
               label="Make SPLevo Project"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <!-- FIXME: we might not need the id -->
   <extension point="org.eclipse.core.resources.markers" id="org.splevo.ui.markers.codelocationmarker.variant"
  name="Code Location Marker">
	<super type="org.eclipse.core.resources.textmarker"/>
	<super type="org.eclipse.core.resources.marker"/>
	<persistent value="true"/>
	</extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.splevo.ui.sourceconnection.jdt.VariantLinkQuickFixGenerator"
            markerType="org.splevo.ui.markers.codelocationmarker.variant">
      </markerResolutionGenerator>
   </extension>
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification"
		id="annotationspecification" name="SPLevoAnnotation">
	<specification annotationType="org.splevo.ui.annotations.variant.multiple"
			label="Variation Point Alternative Variant"
			icon="icons/variant-multiple.png"
			verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            colorPreferenceValue="196,211,219"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
			</specification>
	<specification annotationType="org.splevo.ui.annotations.variant.single"
			label="Variation Point Alternative Variant"
			icon="icons/variant-single.png"
			verticalRulerPreferenceKey="highlight.rulers.vertical"
             textPreferenceKey="highlight.text"
            colorPreferenceKey="highlight.color"
            highlightPreferenceKey="highlight.background"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            overviewRulerPreferenceKey="highlight.rulers.overview"
            presentationLayer="4"
            highlightPreferenceValue="true"
            colorPreferenceValue="196,211,219"
            verticalRulerPreferenceValue="true"
            overviewRulerPreferenceValue="true"
            textStylePreferenceKey="highlight.text.style" >
			</specification>
	</extension>
	<extension point="org.eclipse.ui.editors.annotationTypes">
                <type markerSeverity="0"
                                        super="org.eclipse.ui.workbench.texteditor.info"
                                        name="org.splevo.ui.annotations.variant.multiple"
                                        markerType="org.splevo.ui.markers.codelocationmarker.variant"/>
                <type markerSeverity="0"
                                        super="org.eclipse.ui.workbench.texteditor.info"
                                        name="org.splevo.ui.annotations.variant.single"
                                        markerType="org.splevo.ui.markers.codelocationmarker.variant"/>
    </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.splevo.vpm.variability.VariationPoint"
          class="org.splevo.ui.views.vpproperties.VariationPointAdapterFactory">
       <adapter
             type="org.eclipse.ui.views.properties.IPropertySource">
       </adapter>
    </factory>
 </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.splevo.ui.perspective.SPLevoPerspectiveFactory"
          icon="icons/kopl_circle_only.png"
          id="org.splevo.ui.perspective"
          name="SPLevo">
    </perspective>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.splevo.ui.perspective">
       <view
                  id="org.eclipse.jdt.ui.PackageExplorer"
                  minimized="false"
                  ratio="0.3"
                  relationship="left"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  id="org.splevo.ui.viewer.vpmgraph.VPMGraphViewer:*"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.ui.editorss"
                  visible="false">
            </view>
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  ratio="0.7"
                  relationship="bottom"
                  relative="org.eclipse.ui.editorss"
                  visible="true">
            </view>
            <view
                  id="org.eclipse.ui.views.PropertySheet"
                  minimized="false"
                  ratio="0.3"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
            <view
                  id="org.splevo.ui.vpexplorer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            <view
                  id="org.eclipse.ui.navigator.ProjectExplorer"
                  minimized="false"
                  relationship="stack"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.splevo.ui.wizards"
          name="SPLevo">
    </category>
 </extension>

</plugin>
