<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
       point="org.eclipse.ui.newWizards">
    <category
          id="org.splevo.ui.wizards"
          name="SPLevo">
    </category>
    <wizard
          category="org.splevo.ui.wizards"
          class="org.splevo.ui.wizard.consolidation.NewConsolidationProjectWizard"
          finalPerspective="org.splevo.ui.perspective"
          icon="icons/kopl_circle_new.png"
          id="org.splevo.ui.wizards.project"
          name="New Consolidation Project"
          preferredPerspectives="org.splevo.ui.perspective"
          project="true">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:org.splevo.ui.menu?before=org.splevo.ui.menu.cleanProject">
       <command
             commandId="org.eclipse.ui.newWizard"
             icon="icons/kopl_circle_new.png"
             label="New Consolidation"
             style="push"
             tooltip="Create a new consolidation project">
          <parameter
                name="newWizardId"
                value="org.splevo.ui.wizards.project">
          </parameter>
       </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="menu:org.splevo.ui.menu.main">
       	<command
              commandId="org.eclipse.ui.newWizard"
              icon="icons/kopl_circle_new.png">
           	    <parameter 
                	name="newWizardId"
                  	value="org.splevo.ui.wizards.project" />
       	</command>
    </menuContribution>
 </extension>

</plugin>
