<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://splevo.org/modisco/java/vpm/1.0/software"
            class="modisco.vpm.MoDiscoJava.MoDiscoJavaPackage"
            genModel="model/modisco.genmodel"/>
   </extension>
   <extension
         id="id1"
         name="Modisco Content Provider"
         point="org.splevo.vpm.analyzer.semantic.contentprovider">
      <contentprovider
            contentprovider.class="org.splevo.modisco.java.vpm.semantic.MoDiscoSemanticContentProvider">
      </contentprovider>
   </extension>

</plugin>
