<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension-point id="analyzer" name="SPLevo VPM Analyzer" schema="schema/org_splevo_vpm_analyzer.exsd"/>
   <extension-point id="mergedecider" name="SPLevo Variation Point Merge Decider" schema="schema/org_splevo_vpm_mergedecider.exsd"/>

</plugin>
