<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="calculator" name="Metrics Calculator" schema="schema/org.splevo.metrics.calculator.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.splevo.ui"
            class="org.splevo.utilities.metrics.ui.MetricsView"
            icon="icons/splevo-project.gif"
            id="org.splevo.utilities.MetricsView"
            name="SPLevo Common Metrics View">
      </view>
      <category
            id="org.splevo.ui"
            name="SPLevo">
      </category>
   </extension>
   <extension
         point="org.splevo.utilities.metrics.calculator">
      <calculator
            calculator.class="org.splevo.utilities.metrics.calculators.commonloc.CommonLOCMetricCalculator">
      </calculator>
      <calculator
            calculator.class="org.splevo.utilities.metrics.calculators.qvto.QVToMetricCalculator">
      </calculator>
      <calculator
            calculator.class="org.splevo.utilities.metrics.calculators.java.JavaMetricCalculator">
      </calculator>
      <calculator
            calculator.class="org.splevo.utilities.metrics.calculators.preprocessor.PreprocessorMetricCalculator">
      </calculator>
      <calculator
            calculator.class="org.splevo.utilities.metrics.calculators.generic.GenericCalculator">
      </calculator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.splevo.utilities.metrics.preferences.PreferencePage"
            id="org.splevo.utilities.metrics.preferences.PreferencePage"
            name="Metrics View Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.splevo.utilities.metrics.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
