<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.ImportOnlyVPFilter"
            description="Show only VariationPoints which are about variying imports"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Imports"
            name="VariationPoints: Imports Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.ClassOnlyVPFilter"
            description="Show only VariationPoints which are about variying class signature declarations"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Class"
            name="VariationPoints: Class Signature Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.CompilationUnitOnlyVPFilter"
            description="Show only VariationPoints which are about variying Compilation Units (class, import, etc)"
            id="org.splevo.jamopp.ui.vpexplorer.filter.CompilationUnit"
            name="VariationPoints: CompilationUnit Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.EnumerationOnlyVPFilter"
            description="Show only VariationPoints which are about variying Enumeration declarations"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Enumerations"
            name="VariationPoints: Enumeration Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.FieldOnlyVPFilter"
            description="Show only VariationPoints which are about variying field declarations"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Fields"
            name="VariationPoints: Field Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.MethodConstructorOnlyVPFilter"
            description="Show only VariationPoints which are about variying method or constructor declarations"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Methods"
            name="VariationPoints: Method/Constructor Only">
      </commonFilter>
      <commonFilter
            class="org.splevo.jamopp.ui.vpexplorer.filter.StatementOnlyVPFilter"
            description="Show only VariationPoints which are about variying statements (including loops and conditions. excluding classifiers)"
            id="org.splevo.jamopp.ui.vpexplorer.filter.Statement"
            name="VariationPoints: Statement Only">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.splevo.ui.vpexplorer">
         <includes>
            <contentExtension
                  pattern="org.splevo.jamopp.ui.vpexplorer.filter.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
