<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.splevo.modisco.java.diffing.kdm2javadiff.KDM2JavaDiffPackage"
            genModel="model/kdm2javadiff.genmodel"
            uri="http://www.eclipse.org/emf/compare/diff/kdm2java/1.0">
      </package>
   </extension>
   <extension
         point="org.splevo.diffing.differ">
      <differ
            differ.class="org.splevo.modisco.java.diffing.Java2KDMDiffer">
      </differ>
   </extension>

</plugin>
