<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.splevo.refactoring.resourceprocessor">
      <ResourceProcessor
            resourceprocessor.class="org.splevo.jamopp.refactoring.JaMoPPResourceProcessor">
      </ResourceProcessor>
   </extension>
   <extension
         point="org.splevo.refactoring.todotags">
      <TodoTagsCustomizer
            todotagcustomizer.class="org.splevo.jamopp.refactoring.JaMoPPTodoTagCustomizer">
      </TodoTagsCustomizer>
   </extension>

</plugin>
