<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.splevo.ui"
            class="org.splevo.ui.vpexplorer.explorer.VPExplorer"
            icon="icons/kopl_circle_only.png"
            id="org.splevo.ui.vpexplorer"
            name="Variation Point Explorer">
      </view>
      <view
            category="org.splevo.ui"
            class="org.splevo.ui.vpexplorer.featureoutline.FeatureOutlineView"
            icon="icons/kopl_circle_only.png"
            id="org.splevo.ui.vpexplorer.featureoutline"
            name="Feature Outline"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.splevo.ui.vpexplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.splevo.ui.vpexplorer">
         <includes>
            <contentExtension
                  pattern="org.splevo.ui.vpexplorer.vpExplorerContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="org.splevo.ui.vpexplorer.featureoutline">
      </viewer>
      <viewerContentBinding
            viewerId="org.splevo.ui.vpexplorer.featureoutline">
         <includes>
            <contentExtension
                  pattern="org.splevo.ui.vpexplorer.featureoutline.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.splevo.ui.perspective">
         <view
               id="org.splevo.ui.vpexplorer"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
         <view
               id="org.splevo.ui.vpexplorer.featureoutline"
               ratio="0.7"
               relationship="bottom"
               relative="org.eclipse.jdt.ui.PackageExplorer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.splevo.ui.vpexplorer.providers.VPExplorerContentProvider"
            id="org.splevo.ui.vpexplorer.vpExplorerContent"
            labelProvider="org.splevo.ui.vpexplorer.providers.VPExplorerLabelProvider"
            name="VP Explorer Content">
         <triggerPoints>
            <instanceof
                  value="org.splevo.ui.vpexplorer.explorer.VPExplorerContent">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.splevo.vpm.software.SoftwareElement">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.variability.Variant">
               </instanceof>
               <instanceof
                     value="org.splevo.ui.vpexplorer.providers.FileWrapper">
               </instanceof>
               <instanceof
                     value="java.io.File">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.variability.VariationPointGroup">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.variability.VariationPoint">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <navigatorContent
            contentProvider="org.splevo.ui.vpexplorer.featureoutline.FeatureOutlineContentProvider"
            id="org.splevo.ui.vpexplorer.featureoutline.content"
            labelProvider="org.splevo.ui.vpexplorer.providers.VPExplorerLabelProvider"
            name="Feature Outline Content">
         <triggerPoints>
            <instanceof
                  value="org.splevo.ui.vpexplorer.explorer.VPExplorerContent">
            </instanceof>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.splevo.vpm.variability.VariationPointGroup">
               </instanceof>
               <instanceof
                     value="org.splevo.vpm.variability.VariationPoint">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.variabilitytype.SetVariabilityTypeORHandler"
            id="org.splevo.ui.vp.characteristics.variabilitytype.OR"
            name="OR">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.variabilitytype.SetVariabilityTypeXORHandler"
            id="org.splevo.ui.vp.characteristics.variabilitytype.XOR"
            name="XOR">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.variabilitytype.SetVariabilityTypeOPTORHandler"
            id="org.splevo.ui.vp.characteristics.variabilitytype.OPTOR"
            name="Optional OR">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.variabilitytype.SetVariabilityTypeOPTXORHandler"
            id="org.splevo.ui.vp.characteristics.variabilitytype.OPTXOR"
            name="Optional XOR">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.bindingtime.SetCompileTimeHandler"
            id="org.splevo.ui.vp.characteristics.bindingtime.compiletime"
            name="Compile-Time">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.bindingtime.SetLoadTimeHandler"
            id="org.splevo.ui.vp.characteristics.bindingtime.loadtime"
            name="Load-Time">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.bindingtime.SetRunTimeHandler"
            id="org.splevo.ui.vp.characteristics.bindingtime.runtime"
            name="Run-Time">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.extendibility.SetExtensibleNOHandler"
            id="org.splevo.ui.vp.characteristics.extendibility.closed"
            name="NO">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.characteristics.extendibility.SetExtensibleYESHandler"
            id="org.splevo.ui.vp.characteristics.extendibility.open"
            name="YES">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.vpmedit.DeleteVariationPointHandler"
            id="org.splevo.ui.vp.edit.delete"
            name="Delete">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.vpmedit.RenameVariationPointGroupHandler"
            description="Renames the selected Variation Point Group."
            id="org.splevo.ui.vpexplorer.rename.vpgroup"
            name="Rename">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.vpmedit.RenameVariationPointHandler"
            description="Renames the selected Variation Point."
            id="org.splevo.ui.vpexplorer.rename.vp"
            name="Rename">
      </command>
      
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.vpmedit.EditVariationPointDescriptionHandler"
            description="Edits the description of a Variation Point."
            id="org.splevo.ui.vpexplorer.editdescription.vp"
            name="Edit Description">
      </command>
      <command
            defaultHandler="org.splevo.ui.vpexplorer.handler.vpmedit.EditVariationPointGroupDescriptionHandler"
            description="Edits the description of a Variation Point Group."
            id="org.splevo.ui.vpexplorer.editdescription.vpg"
            name="Edit Description">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any">
         <separator
               name="VP Characteristics"
               visible="true">
         </separator>
         <menu
               id="org.splevo.ui.vp.characteristics.variabilitytype"
               label="Variability Type">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.splevo.ui.vp.characteristics.variabilitytype.OR"
                  label="OR"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.variabilitytype.XOR"
                  label="XOR"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.variabilitytype.OPTOR"
                  label="Optional OR"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.variabilitytype.OPTXOR"
                  label="Optional XOR"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.splevo.ui.vp.characteristics.bindingtime"
               label="Binding Time">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.splevo.ui.vp.characteristics.bindingtime.compiletime"
                  label="Compile-Time"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.bindingtime.loadtime"
                  label="Load-Time"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.bindingtime.runtime"
                  label="Run-Time"
                  style="push">
            </command>
         </menu>
         <menu
               id="org.splevo.ui.vp.characteristics.extendibility"
               label="Extensible">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <or>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.splevo.ui.vp.characteristics.extendibility.closed"
                  label="NO"
                  style="push">
            </command>
            <command
                  commandId="org.splevo.ui.vp.characteristics.extendibility.open"
                  label="YES"
                  style="push">
            </command>
         </menu>         
         <menu
               label="Variability Mechanism">
            <dynamic
                  class="org.splevo.ui.vpexplorer.handler.characteristics.variabilitymechanism.VariabilityMechanismContribution"
                  id="org.splevo.ui.vpexplorer.handler.characteristics.variabilitymechanism.variabilitymechanism">
            </dynamic>            
         </menu>                  
         <menu
               id="org.splevo.ui.vp.edit"
               label="Edit">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <instanceof
                        value="org.splevo.vpm.variability.VariationPoint">
                  </instanceof>
               </iterate>
            </visibleWhen>
            <command
                  commandId="org.splevo.ui.vp.edit.delete"
                  icon="icons/delete_obj.gif"
                  label="Delete"
                  style="push">
            </command>
         </menu>
         <separator
               name="VP Group"
               visible="true">
         </separator>
         <command
               commandId="org.splevo.ui.vpexplorer.rename.vpgroup"
               label="Rename"
               style="push"
               tooltip="Renames the currently selected Variation Point Group">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof>
                  </iterate> </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.vpexplorer.rename.vp"
               label="Rename"
               style="push"
               tooltip="Renames the currently selected Variation Point">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.vpexplorer.editdescription.vp"
               label="Edit Description"
               style="push"
               tooltip="Edits the description of the currently selected Variation Point.">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPoint">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.splevo.ui.vpexplorer.editdescription.vpg"
               label="Edit Description"
               style="push"
               tooltip="Edits the description of the currently selected Variation Point Group.">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <instanceof
                           value="org.splevo.vpm.variability.VariationPointGroup">
                     </instanceof>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.splevo.ui.vpexplorer.featureoutline.context"
            name="featureoutline context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">         
      <key
            commandId="org.splevo.ui.vpexplorer.rename.vpgroup"
            contextId="org.splevo.ui.vpexplorer.featureoutline.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ALT+SHIFT+R">
      </key>
      <key
            commandId="org.splevo.ui.vpexplorer.rename.vpgroup"
            contextId="org.splevo.ui.vpexplorer.featureoutline.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F2">
      </key>
   </extension>
   

</plugin>
