<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.splevo.ui"
            class="org.splevo.ui.vpexplorer.explorer.VPExplorer"
            icon="icons/kopl_circle_only.png"
            id="org.splevo.ui.vpexplorer"
            name="Variation Point Explorer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.splevo.ui.vpexplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.splevo.ui.vpexplorer">
         <includes>
            <contentExtension
                  pattern="org.splevo.ui.vpexplorer.vpExplorerContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="org.splevo.ui.vpexplorer"
               ratio="0.5"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.splevo.ui.vpexplorer.providers.VPExplorerContentProvider"
            id="org.splevo.ui.vpexplorer.vpExplorerContent"
            labelProvider="org.splevo.ui.vpexplorer.providers.VPExplorerLabelProvider"
            name="VP Explorer Content">
         <triggerPoints>
            <instanceof
                  value="org.splevo.ui.vpexplorer.explorer.VPExplorerContent">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>

</plugin>
