<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.splevo.vpm.variability.presentation.variabilityModelWizardID"
            name="%_UI_variabilityModelWizard_label"
            class="org.splevo.vpm.variability.presentation.variabilityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/variabilityModelFile.gif">
         <description>%_UI_variabilityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.splevo.vpm.variability.presentation.variabilityEditorID"
            name="%_UI_variabilityEditor_label"
            icon="icons/full/obj16/variabilityModelFile.gif"
            extensions="variability"
            class="org.splevo.vpm.variability.presentation.variabilityEditor"
            contributorClass="org.splevo.vpm.variability.presentation.variabilityActionBarContributor">
      </editor>
   </extension>

</plugin>
