<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://org.splevo.project/1.0"
            class="org.splevo.project.ProjectPackage"
            genModel="model/project.genmodel"/>
   </extension>

</plugin>
